<h4><%= @tag.name %></h4>
<table>
    <% @images.each do |image| %>
        <tr>
            <td><%= image.id %></td>
            <td><%= image.caption %></td>
            <td><%= link_to "view", user_image_path(@user, image) %>
        </tr>
    <% end %>
</table>