<h4><%= @tag.name %></h4>
<%= render partial: "forms/delete_tag", locals: { tag: tag } %> 

<div class="custom-image-grid pt-3">
    <% @images.each do |image| %>
        <%= render partial: "image/image_card", locals: { image: image } %>
    <% end %>
</div>